<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="text-center">
                    <h1>Login Form</h1>
                    <h6>Please enter your username and password!!!</h6>
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="mb-3">
                         <!-- <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>-->
                          <label for="exampleInputName" class="form-label">Username</label>
                          <input formControlName="firstName" type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp">
                          <div id="nameHelp" class="form-text">We'll never share your name with anyone else.</div>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input formControlName="password"  type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <button type="submit" (click)="login()" class="btn btn-primary">Login</button>
                </form>
                <a style="color:yellow;margin-top:10px" routerLink="/signup">New User? Click to signup!!</a>
                </div>
            </div>
        </div>
    </div>