<nav class="navbar navbar-expand-lg navbar-light bg-custom-gradient" style="font-size:1.5rem">
    <a class="navbar-brand logo" href="#">Hello User!</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/table" routerLinkActive="active"
          >Active users</a>
      </li>
    </ul>
    <button (click)="onSignout()" class="btn btn-outline-primary" type="button" data-mdb-ripple-color="dark" style="padding: .45rem 1.5rem .35rem;">
      Sign out
    </button>
  </nav>
<div class="d-flex p-1">  
    <div class="p-5"><img src="../../assets/285655_user_icon.png" width="50%" height="60%"/>
        <h1> Welcome {{firstName}}</h1></div></div>
        <div class="p-5">
          <table class="table">   
          <tr>
              <th scope="col">User Name</th>
              <th scope="col">Online</th>
          </tr>
          <!-- https://zeroesandones.medium.com/how-to-populate-an-html-table-dynamically-using-ngfor-in-angular-9-26d4d9f2023 -->
          <tr *ngFor="let user of users">
              <td scope="row">{{user.firstName}}</td>
             <td scope="row"><img width="40px" height="40px" [src]="'./assets/online.png'"/></td>
          </tr>
      </table>
  </div>
    
